html,
body {
    margin: 0px;
    padding: 0px;
}


/*
override bootstrap row default margin
*/

.row {
    margin-left: 0;
    margin-right: 0;
}


/* Middle to Wide Screen style

Apply when screen size is equal or above 576px (bootstrap sm size) 
media query css must be put after default style
otherwise it cannot override default style
*/

@media screen and (min-width: 576px) {
    /*add margin on left and right side when screen is large*/
    body {
        margin-left: 84px;
        margin-right: 84px;
    }
}